html {
    font-size: 1em;
  }
  
  h1 {
    font-size: 2rem;
  }
  
  @media (min-width: 1200px) {
    h1 {
      font-size: 4rem;
    }
  }
  
@media screen and (min-width: 00px) {
    .container {
      margin: 1em 2em;
    }
  }
  
header{
    text-decoration: none;
    padding: 8px;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Protest;
  list-style: none;
  text-decoration: none;
}
header{
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 9%;
  background: transparent;
}
.logo{
  font-size: 40px;
  font-weight: 700;
  color: white;
}
body{
  background-color: #182825;
  background-image: url('./images/dominik-lange-Lej_oqHljbk-unsplash.jpg');
  height: 800px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  display: grid;
  color: white;
}

.navlist{
  display: flex;
}
.navlist a{
  color: white;
  margin-left: 60px;
  font-size: 20px;
  font-weight: 600;
  border-bottom: 2px solid transparent;
  transition: all .55, ease;
}
.navlist a:hover{
  color: #daab3a;
}
#menu-icon{
  color: white;
  font-size: 35px;
  z-index: 10001;
  cursor: pointer;
}

#menu-icon:hover{
    color: #daab3a;
}
section{
  margin: 0 5px;
  padding: 0 8%;
  height: 50%;
  width: 50%;
  min-height: 50vh;
  position: relative;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  gap: 1rem;
}
span{
  display: flex;
  justify-content: center;
  align-items: center;
}
h2{
  width: 100%;
  height: 100%;
  margin-top: 150px;
  font-size: 35px;
  color: #daab3a;

}
.box-skills{
  font-size: 25px;
}
#html{
  color: red;
  font-size: 5vh;
}
#css{
  color: blue;
  font-size:5vh;
}
#js{
  color: yellow;
  font-size: 5vh;
}
#react{
  color: blue;
  font-size: 5vh;
}
#angular{
  color: red;
  font-size: 5vh;
}
#bootstrap{
  color: violet;
  font-size: 5vh;
}
#GitHub{
  color: whitesmoke;
  font-size: 5vh;
}
#wordpress{
  color: blue;
  font-size: 5vh;
}
.tot{
  font-size: 5vh;
  color: #daab3a;
}
footer p{
  background-color: #333; /* Couleur de fond du footer */
  color: white; /* Couleur du texte */
  text-align: center; /* Centrage du texte */
  position: fixed; /* Positionnement fixe */
  bottom: 0; /* Collé au bas de la fenêtre */
  left: 0; /* Collé au bord gauche */
  width: 100%; /* Prend toute la largeur */
}


